NODE_ENV="development"

# Required when VERCEL_ENV is "preview" or "production".
RESEND_API_KEY=""

MAIL_HOST="localhost"
MAIL_PORT=1025
MAIL_USER="user"
MAIL_PASSWORD="password"
MAIL_FROM_NAME="contact"
MAIL_FROM_ADDRESS="contact@example.com"
MAIL_TO_ADDRESS="contact@example.com,me@gmail.com"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test"
CLERK_SECRET_KEY="sk_test"
